.header-container {
    width: 100vw;
    height: 100px;
    display: flex;
    background-color: white;
    /* border: 1px solid black; */
    box-shadow: 0px 3px 27px #000000;
    align-items: center;
    position: fixed;
    z-index: 2;
    justify-content: flex-start;
    transition: 1s;
}

.logolight {
    margin-left: 2  0px;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    background-image: url("./res/praan.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.logodark {
  margin-left: 2  0px;
  width: 150px;
  height: 150px;
  margin-top: 30px;
  background-image: url("./res/praan.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.nightmode {
    margin-left: auto;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    cursor: pointer;
    background-image: url("./res/dark-mode-6682.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.daymode {
  margin-left: auto;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  cursor: pointer;
  background-image: url("./res/—Pngtree—vector\ sun\ icon_4946341.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mode-button {
  width: 60px;
  height: 30px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mode-button-switch {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: red;
}

